// VARIABLES (optionnel)
$primary: #0d6efd;

// Bootstrap
@import "bootstrap/scss/bootstrap";

// Backoffice custom
body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 0.5rem;
}
#search-input {
  border-radius: 50px;
}

.card {
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}
.category-block {
  height: 350px;
  background-size: cover;
  background-position: center;
}
