<section class="py-4 bg-light">
	<div class="container text-center mb-5 position-relative">

		<h1 class="fw-bold display-5">
			Plongez dans l’univers
			<span class="text-secondary">RouhEnnabta</span>
		</h1>

		<p class="fs-5 text-muted mt-3 col-lg-7 mx-auto">
			Des catégories pensées pour révéler la richesse
										des plantes, des huiles et des savoir-faire traditionnels.
		</p>

		<hr class="border-success border-3 opacity-100 mx-auto mt-4" style="width: 100px;">
	</div>


	<div class="container mt-4">


	<div
class="row g-4" id="category-grid">
{# Rempli en JS #}


</div>

</div></section>


