<div class="card">
	<div class="card-header">
		<strong>Liste des catégories</strong>
	</div>

	<div class="card-body">
		<table class="table table-sm">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Slug</th>
					<th>Active</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody
				id="category-list">{# rempli en JS #}
			</tbody>
		</table>
	</div>
</div>

