<div class="modal fade" id="gammeModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title">➕ Ajouter / Modifier une gamme</h5>
				<button class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<div class="modal-body">
				{% include 'components/gammes/_form.html.twig' %}
			</div>

		</div>
	</div>
</div>

