<div class="card">
	<div class="card-header">
		<strong>Produits</strong>
	</div>
	<div class="card-body">
		<table class="table table-sm">
<thead class="table-dark">
	<tr>
		<th>Produit</th>
		<th>Prix</th>
		<th>Marge</th>
		<th>Stock</th>
		<th>Catégorie</th>
		<th>Gamme</th>
		<th>Statut</th>
		<th class="text-end">Actions</th>
	</tr>
</thead>


			<tbody id="product-list"></tbody>
		</table>
	</div>
</div>

