<div class="card">
	<div class="card-header">
		<strong>Produits</strong>
	</div>
	<div class="card-body">
		<table class="table table-sm">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prix vente</th>
					<th>Stock</th>
					<th>Catégorie</th>
					<th>Gamme</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="product-list"></tbody>
		</table>
	</div>
</div>

