<div class="modal fade" id="productModal" tabindex="-1">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title">📦 Ajouter / Modifier un produit</h5>
				<button class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<div class="modal-body">
				{% include 'components/product/_form.html.twig' %}
			</div>

		</div>
	</div>
</div>

