<div class="card">
	<div class="card-header">
		<strong>Liste des gammes</strong>
	</div>

	<div class="card-body">
		<table class="table table-sm">
<thead class="table-dark">
	<tr>
		<th>Gamme</th>
		<th>Description</th>
		<th>Statut</th>
		<th>Créée</th>
		<th>Modifiée</th>
		<th class="text-end">Actions</th>
	</tr>
</thead>


			<tbody
				id="gamme-list">{# rempli en JS #}
			</tbody>
		</table>
	</div>
</div>

