{% extends 'base.html.twig' %}

{% block title %}Certifications
{% endblock %}

{% block body %}


	{# ================= SECTIONS ================= #}


	<section>
		{% include 'certifications/certification.html.twig' %}
	</section>




{% endblock %}

